<div class="contenedor">
    <caption class="title">Ingresos</caption>
    <table class="tabla">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of ingresos">
                <td data-label="Descripcion">{{i.descripcion}}</td>
                <td data-label="Valor">${{i.valor}}</td>
                <td data-label="Acciones">
                    <app-editar (ingresoEditado)="onIngresoEditado($event)" [ingreso]="i"></app-editar>
                    <app-eliminar (ingresoEliminado)="onIngresoEliminado($event)" [ingreso]="i"></app-eliminar>
                    <!--no se puede pasar por Output ingresoValorTotal porque son de diferentes modulos-->
                </td>
            </tr>
        </tbody>
    </table>
    <div>Ingresos totales ${{ingresoTotal}}</div>
    <a href="ingresos/crear">Añadir</a>
</div>

