<button (click)="modificarEgreso()"><img src="../../../assets/icons/pencil-square.svg"></button>


<div *ngIf="mostrarFormulario" tabindex="-1" class="modal show d-block" style="background-color: rgba(0,0,0,0.5);">
	<div class="modal-dialog contenedor">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Egreso</h5>
				<button type="button" class="btn-close" (click)="cerrarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
                    <h2 class="title text-center" *ngIf="egreso.id==0">Registro Egreso</h2>
                    <h2 class="title text-center" *ngIf="egreso.id>0">Editar Egreso</h2>
                      <div>
                        <label for="nuevo-egreso-descripcion">Descripción:</label>
                        <input type="string" id="nuevo-egreso-descripcion" name="nuevo-egreso-descripcion" placeholder="Pon aquí la descripción" 
                        [(ngModel)]="egreso.descripcion">
                      </div>
                      <div>
                        <label for="nuevo-egreso-valor">Valor:</label>
                        <input type="number" id="nuevo-egreso-valor" name="nuevo-egreso-valor" [(ngModel)]="egreso.valor">
                      </div>
                        <button type="submit" (click)="editarEgreso()">Actualizar</button>
                  </form>      
			</div>
		</div>
	</div>
</div>
